<!-- title + button -->
<div class="page-title" style="margin-bottom:20px">
  <h1>Media</h1>
  <button mat-raised-button color="primary" (click)="addNew()">Add New</button>
</div>

<!-- grid list -->
<mat-paginator [length]="mediaList.length"
               [pageSize]="size"
               [pageIndex]="page"
               [pageSizeOptions]="[15, 30, 60, mediaList.length]"
               (page)="getData($event)">
</mat-paginator>
<mat-grid-list cols="4" rowHeight="250px">
  <mat-grid-tile
    *ngFor="let media of MEDIA_LIST" [style.background]="tileBackground">
    <mat-grid-tile-header>
      {{media.title}}
      <span class="fill-remaining-space"></span>
      <button mat-icon-button  (click)="editMediaItem(media)">
        <img src="../assets/icons/edit-white.svg" />
      </button>

      <button mat-icon-button    (click)="openDelete(media)">
        <img src="../assets/icons/trash-white.svg" />
      </button>


    </mat-grid-tile-header>
    <img height="100%" width="100%" [src]="media.imageUrl" alt={{media.title}} style="top:0; left: 0"
         [routerLink]="['../edit-media']" [queryParams]="{ mediaId: media.$key }">

    <!-- caption + title footer -->
    <mat-grid-tile-footer>
      {{media.caption}}
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

