<!-- title + add new button -->
<div class="page-title" fxLayoutGap="10px">
  <h1>Itineraries</h1>
  <span class="fill-remaining-space"></span>
  <mat-select [(value)]="status" placeholder="filter by status" style="width: 10vw"  (selectionChange)="onFilterChange($event)">
    <mat-option [value]="undefined">
      All
    </mat-option>
    <mat-option *ngFor="let status of STATUS" [value]="status">
      {{ status }}
    </mat-option>
  </mat-select>

  <button mat-raised-button color="primary" (click)="addNew()">Add New Itinerary</button>
</div>


  <!-- all in one filter -->
  <app-search [dataSource]="dataSource" caller="itineraries" class="half-input"></app-search>

<!-- progress bar -->
<ng-template #loading>
  <mat-progress-bar  mode="query" color="primary" class="example-margin progress-bar"></mat-progress-bar>
</ng-template>

<!-- data table-->
<mat-table *ngIf="itineraries.length > 0; else loading" #table [dataSource]="dataSource" class="example-container">
  <!-- Invoice Number Column -->
  <ng-container matColumnDef="#">
    <mat-header-cell *matHeaderCellDef fxFlex="10"> #</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="10"> {{ data.company.prefix }}-{{ row.invoiceNumber }}</mat-cell>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="Date">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> Date</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15">{{row.startDate}}</mat-cell>
  </ng-container>

  <!-- Client Column -->
  <ng-container matColumnDef="Client">
    <mat-header-cell *matHeaderCellDef fxFlex="15"> Client</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="15">{{ row.clientFullName }}</mat-cell>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="Itinerary">
    <mat-header-cell *matHeaderCellDef fxFlex="40"> Itinerary</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="40"> {{row.title}}</mat-cell>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="Value">
    <mat-header-cell *matHeaderCellDef fxFlex="10"> Value</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="10"> {{row.total === undefined ? 'N/A': '$' + row.total}}</mat-cell>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef fxFlex="10"> Status</mat-header-cell>
    <mat-cell *matCellDef="let row" fxFlex="10"> {{row.status}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="editItinerary(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[15, 30, 60]"></mat-paginator>
