<!-- title + button -->
<div class="page-title">
  <h1>Agents</h1>
  <button mat-raised-button color="primary"  (click)="addNew()">Add New Agent</button>
</div>

<span class="spacer-vert"></span>


<!-- table -->
<!--  <div class="example-header">-->
<!--    &lt;!&ndash; search &ndash;&gt;-->
<!--    <mat-input-container class="search">-->
<!--      <mat-icon matSuffix color="primary">search</mat-icon>-->
<!--      <input matInput #filter placeholder="Search">-->
<!--    </mat-input-container>-->

<!--  </div>-->

<!-- search-->
<app-search [dataSource]="dataSource" caller="agents"></app-search>

<!-- progress bar -->
<app-progress-bar [listLength]="agents.length"></app-progress-bar>

<!-- table -->
  <mat-table *ngIf="agents.length > 0" #table [dataSource]="dataSource" class="example-container">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef fxFlex> Name</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex (click)="editAgent(row)"> {{ row.firstName + ' ' + row.lastName }}</mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef fxFlex> Email</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex (click)="editAgent(row)"> {{ row.email }}</mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="Role">
      <mat-header-cell *matHeaderCellDef fxFlex> Role</mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex (click)="editAgent(row)"> {{ row.role | uppercase }}</mat-cell>
    </ng-container>

    <!-- edit and delete options -->
    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef fxFlex="10"> </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="10" fxLayoutAlign="end center" fxLayoutGap="10px" >

        <button mat-icon-button (click)="editAgent(row)">
          <svg-icon src="../assets/icons/edit.svg" [style.fill]=this.data.color></svg-icon>
        </button>

        <button mat-icon-button (click)="openDelete(row.key)">
          <svg-icon src="../assets/icons/trash.svg" [style.fill]=this.data.color></svg-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[15, 30, 60]"></mat-paginator>

