<!-- todo: add *ngIf="(user | async )" to mat-toolbar -->
<mat-toolbar class="mat-elevation-z3" color="primary"> 
      <button mat-button [routerLink]="['itineraries']">
        <mat-icon>home</mat-icon>
      </button>
  
      <!-- normal menu -->
      <div>
        <button mat-button [routerLink]="['itineraries']">ITINERARIES</button>
        <button mat-button [routerLink]="['clients']">CLIENTS</button>
        <button mat-button [routerLink]="['inventory']">INVENTORY</button>
        <button *ngIf="(user | async)?.role === 'admin'" mat-button  [routerLink]="['agents']">AGENTS</button>
        <button mat-button [routerLink]="['media']">MEDIA</button>
      </div>
  
      <!-- spacer -->
      <span class="fill-remaining-space"></span>
  
      <!-- company name -->
      <span
        *ngIf="user"
        fxLayout
        fxLayoutAlign="space-between center"
        fxLayoutGap="10px">
        <sub>{{(user | async)?.firstname }} {{(user | async)?.lastname }}</sub>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <img class="avatar_icon" [src]=logo>
        </button>
  
    </span>

</mat-toolbar>

<!-- collapsible menu -->
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="data.switchCompany()">
      <mat-icon>person_outline</mat-icon>
      <span *ngIf="data.currentCompany === 'Planet Africa'">Switch to True Africa</span>
      <span *ngIf="data.currentCompany === 'True Africa'">Switch to Planet Africa</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>lock_open</mat-icon>
      Logout
    </button>
  </mat-menu>

  <!-- router outlet -->
  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>