<!-- progress bar -->
<mat-progress-bar *ngIf="!itinerary$" mode="query" color="primary" class="example-margin progress-bar"></mat-progress-bar>

<div *ngIf="itinerary$">
  <!-- tool bar -->
  <section fxLayout="row"
           fxLayoutAlign="space-around center"
           fxLayout.xs="column"
           fxLayout.sm="column"
           fxLayoutGap.xs="10px"
           fxLayoutGap.sm="10px">

    <!-- back button -->
    <span fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
    <!-- back button -->
      <button mat-icon-button [routerLink]="['/itineraries']" style="padding-top:5px">
          <svg-icon src="../assets/icons/back.svg" [style.fill]=color></svg-icon>
      </button>

      <!-- invoice number -->
      <h2>Itinerary {{ itinerary$.invoice_number }}</h2>
    </span>


    <span class="fill-remaining-space"></span>
<!--  status  -->
    <mat-select
      fxFlex="10"
      [(ngModel)]="itinerary$.status"
      (ngModelChange)="onSelect($event)"
      placeholder="Itinerary Status">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>

    <!-- buttons -->
    <span fxLayoutGap="10px">
      <span class="fill-remaining-space"></span>

      <!-- duplicate itinerary button -->
      <button
        [ngClass]="data.getButtonStyle()"
        mat-button
        mat-raised-button
        (click)="duplicateItinerary()">
        Duplicate
      </button>

      <!-- edit itinerary button -->
        <button
          [ngClass]="data.getButtonStyle()"
          mat-button
          mat-raised-button
          (click)="openEditItinerary()">
          Edit
        </button>

      <!-- delete itinerary button -->
        <button
          [ngClass]="data.getButtonStyle()"
          mat-button
          mat-raised-button
          (click)="openDelete()">
          Delete
        </button>

        <!--   save as pdf menu   -->
        <button
          mat-button
          mat-raised-button
          [matMenuTriggerFor]="menu"
          [ngClass]="data.getButtonStyleMain()">
          Save as PDF
        </button>

        <!-- print pdf menu -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsPdfPartial()">Itinerary & Costs</button>
          <button mat-menu-item (click)="saveAsPdf(3)">Full Itinerary</button>
          <button mat-menu-item (click)="saveAsPdf(2)">Full Itinerary - No Costs</button>
        </mat-menu>
  </span>
  </section>


  <!-- page -->

  <mat-card
    class="mat-elevation-z8"
    style="max-width: 800px !important;"
    fxLayout="column">

    <!-- header -->
    <div class="itin-page-header">
      <h2 *ngIf="client">Client: {{ client.firstname }} {{ client.lastname }}</h2>
      <h1>{{ itinerary$.title}}</h1>
    </div>

    <!-- booking details -->
    <div class="itin-booking-details">
      <table>
        <tr>
          <td>
            <h5>Itinerary</h5>
            <b>{{ itinerary$.invoice_number }}</b>
          </td>
          <td>
            <h5>Safari Specialist</h5>
            <b *ngIf="agent">{{ agent.firstname }} {{ agent.lastname }}</b>
          </td>
          <td>
            <h5>Status</h5>
            <b>{{ itinerary$.status }}</b>
          </td>
          <!-- <td>
            <h5>Modified</h5>
            <b>{{ (itinerary$.updatedAt }}</b>
          </td> -->
        </tr>
        <tr>
          <td>
            <h5>Adults</h5>
            <b> {{ isArray(itinerary$.adults) ? itinerary$.adults.length : itinerary$.adults }} </b>
          </td>
          <td>
            <h5>Children</h5>
            <b> {{ isArray(itinerary$.children) ? itinerary$.children.length : itinerary$.children }}</b>
          </td>
          <td>
            <h5>Travel dates</h5>
            <b>{{itinerary$.startdate}} - {{itinerary$.enddate}}</b>
          </td>
        </tr>
      </table>
    </div>

    <!--days remaining heading-->
    <div class="itin-days" fxLayout="row">
      <h2 fxFlex>{{usedDays}} / {{ totalDays }} Day Itinerary</h2>
      <span *ngIf="usedDays > totalDays" fxFlex=70 class="itin-exceed">You have exceeded the allocated days for this itinerary by {{ usedDays - totalDays }} day(s)</span>
    </div>

    <!-- days come here -->
<!--  todo: put back dragula  [dragula]="'days'" [dragulaModel]="days", populate days array  -->
    <div *ngIf="days">
      <div *ngFor="let day of days; let i=index">

        <!-- editor-components items added from modal -->
        <div
          fxLayout="row"
          fxFlexAlign="space-between base-line"
          class="day">

          <!-- left column -->
          <span
            fxLayout="column"
            fxLayoutAlign="flex-flex-start center"
            fxFlex="18"
            fxLayoutGap="10px">
            <mat-chip-list>
              <!-- color hack: AM2 seems to be broken -->
              <mat-chip fxLayoutAlign="center center" [selected]="true" [style.background-color]=color  style="padding: 5px; max-width: 18% !important; min-width: 90px !important; color: white; box-sizing: border-box;" >{{ getDayTitle('title', day) }}</mat-chip>
            </mat-chip-list>
            <span style="font-size:12px" >{{ getDayTitle('dates', day) }}</span>
          </span>

          <!-- middle column -->
          <span fxFlex="80" fxFlexAlign="center flex-flex-start">
            {{getItineraryDescriptions(day)}}
          </span>

          <!-- right column -->
          <span
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxFlex
            fxLayout.xs="column"
            fxLayout.sm="column">

            <!-- edit button -->
            <button mat-icon-button (click)="openDayDialog('edit', day)">
              <svg-icon src="../assets/icons/edit.svg" [style.fill]=color></svg-icon>
            </button>

            <!-- drag handle -->
            <button mat-icon-button style="cursor: move !important;">
              <svg-icon  src="../assets/icons/move.svg" [style.fill]=color></svg-icon>
            </button>

            <!-- delete button -->
            <button mat-icon-button (click)="removeDay(day.key)">
                <svg-icon src="../assets/icons/trash.svg" [style.fill]=color></svg-icon>
            </button>
          </span>
        </div>

        <!-- comments added from modal -->
        <div *ngIf="comments | async as commentArray" fxLayout="column" fxFlexAlign="space-between base-line">
          <!-- iterate comments array -->
          <div *ngFor="let comment of commentArray | commentsFilter: day.key;" fxLayout="row" class="day">
            <!-- left column -->
            <span fxLayoutAlign="space-around center" fxFlex="18" fxLayoutGap="5px">
              <img [src]="getCommentIcon(comment.payload.val().type)" />
            </span>

            <!-- middle column -->
            <span fxFlex="80" fxFlexAlign="flex-start">
              <span>{{comment.payload.val().comment}}</span>
            </span>

            <!-- right column -->
            <span fxLayout="row" fxLayoutAlign="space-between center" fxFlex fxLayout.xs="column" fxLayout.sm="column">
              <span style="width:40px"></span>
              <button mat-icon-button (click)="openCommentDialog('edit', comment)">
                <svg-icon src="../assets/icons/edit.svg" [style.fill]=color> </svg-icon>
              </button>

              <!-- remove comment button -->
              <button mat-icon-button (click)="removeComment(comment.key)">
                  <svg-icon src="../assets/icons/trash.svg" [style.fill]=color></svg-icon>
              </button>
          </span>

            </div>

          </div>

        </div>
      </div>

    <!-- editor-components editor button -->
    <div
      fxLayout
      fxLayoutAlign="end center"
      fxLayoutGap="10px">

      <button
        [ngClass]="data.getButtonStyle()"
        mat-raised-button
        [disabled]="days.length < 1"
        (click)="openCommentDialog('add', null)">
        Add Comment
      </button>

      <button
        mat-raised-button
        [ngClass]="data.getButtonStyleMain()"
        (click)="openDayDialog('add', null)">
        Add Day
      </button>
    </div>

    <!-- inclusions -->
    <div *ngIf="inclusions?.length > 0" class="itin-border-top">
      <h2>Inclusions</h2>
      <!-- inclusion -->
      <div
        *ngFor="let accommodation of inclusions; let a=index"
        fxLayout="column">

        <!-- inclusions input -->
        <mat-form-field>
          <label>
            <textarea rows="4" matInput (keyup.enter)="onKeyUpInclusions($event, accommodation)" (blur)="onKeyUpInclusions($event, accommodation)" placeholder="{{accommodation.name}}" [value]="accommodation.inclusions"></textarea>
          </label>
        </mat-form-field>
      </div>
    </div>

    <span class="spacer-vert"></span>

    <!-- exclusions -->
    <div *ngIf="inclusions?.length > 0">
      <h2>Exclusions</h2>

      <!-- exclusions input -->
      <mat-form-field>
        <label>
          <textarea [(ngModel)]="this.itinerary$.exclusions" rows="4" type="text" matInput (keyup.enter)="onKeyUpSave('exclusions')" (blur)="onKeyUpSave('exclusions')" placeholder="Exclusions"></textarea>
        </label>
      </mat-form-field>
    </div>

    <span class="spacer-vert"></span>

    <!-- Quote -->
    <div fxLayout="column">
      <h2>Quote</h2>
      <div fxLayout="column">

        <!-- Total -->
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <span fxFlex="50">Total</span>
          <span>USD</span>
          <mat-form-field fxFlex="30">
            <label>
              <input
                currencyMask
                [(ngModel)]="itinerary$.total"
                (keyup.enter)="onKeyUpSave('total')"
                (blur)="onKeyUpSave('total')"
                matInput/>
            </label>
          </mat-form-field>
          <span fxFlex></span>
        </div>

        <!-- price per person -->
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <span fxFlex="50">Price Per Person</span>
          <span>USD</span>
          <mat-form-field fxFlex="30" style="text-align:right !important;">
            <label>
              <input disabled matInput/>
              {{ averageCost | number: '1.0-2'}}
            </label>
          </mat-form-field>
          <span fxFlex></span>
        </div>


        <!-- average price per person per day -->
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <span fxFlex="50">Ave. per person per day</span>
          <span>USD</span>
          <mat-form-field fxFlex="30" style="text-align:right !important;">
            <label>
              <input disabled matInput/>
              {{ averageCost / usedDays | number: '1.0-2'}}
            </label>

          </mat-form-field>
          <span fxFlex></span>
        </div>

        <!-- Discount -->
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <span fxFlex="50">Discount</span>
          <span>USD</span>
          <mat-form-field fxFlex="30">
            <label>
              <input
                currencyMask
                [(ngModel)]="itinerary$.discount"
                (keyup.enter)="onKeyUpSave('discount')"
                (blur)="onKeyUpSave('discount')"
                matInput/>
            </label>
          </mat-form-field>
          <span fxFlex></span>
        </div>

        <!-- Deposit Required -->
        <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <span fxFlex="50">Deposit Required</span>
          <span>USD</span>
          <mat-form-field fxFlex="30">
            <label>
              <input
                currencyMask
                [(ngModel)]="itinerary$.deposit"
                (keyup.enter)="onKeyUpSave('deposit')"
                (blur)="onKeyUpSave('deposit')"
                matInput/>
            </label>
          </mat-form-field>
          <span fxFlex></span>
        </div>

        <!-- payments made -->
        <div fxLayout="column" fxFill *ngIf="payments | async as paymentsArray">
          <div fxLayout="row" *ngFor="let payment of paymentsArray" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
            <span fxFlex="50">Payment Received {{ payment.payload.val().date }}</span>
            <span>USD</span>

            <!-- amount -->
            <mat-form-field fxFlex="30" style="text-align: right !important;">
              <label>
                <input disabled matInput/>
                {{payment.payload.val().amount | number: '1.0-2'}}
              </label>
            </mat-form-field>

            <!--  edit button -->
            <span fxFlex>
              <!-- edit button -->
              <button mat-icon-button (click)="openPaymentDialog('edit', payment)">
                <svg-icon src="../assets/icons/edit.svg"  [style.fill]=color></svg-icon>
              </button>

              <!-- delete button -->
              <button mat-icon-button (click)="removePayment(payment.key)">
                <svg-icon src="../assets/icons/trash.svg" [style.fill]=color></svg-icon>
              </button>
            </span>
          </div>
        </div>

        <!-- add payment button -->
        <div fxLayout="row" FxLayoutAlign="flex-start center" fxLayoutGap="10px" style="height: 40px; margin-top: 10px">
          <span fxFlex="50"></span>
          <button
            mat-raised-button
            [ngClass]="data.getButtonStyle()"
            fxFlex="30"
            (click)="openPaymentDialog('add', null)">Add Payment
          </button>
        </div>
      </div>


      <span class="spacer"></span>
      <!-- sub totals -->
      <div fxLayout="row" fxFill class="balance">
        <span  fxFlex="50"><b>Balance Due</b></span>
        <span fxFlex="36" style="text-align: right !important"><b>USD {{ getBalance() | number: '1.0-2'}}</b></span>
        <span fxFlex fxLayout></span>
      </div>
      <span class="spacer"></span>


    </div>


<!--     Contact Numbers-->
    <h2>Contact Numbers</h2>
    <div fxLayout>
      <div fxFlex="50"></div>
      <div *ngIf="countries | async as phoneNumbersArray" fxFlex fxLayout="Column">
        <div *ngFor="let c of phoneNumbersArray" fxLayoutAlign="flex-start center" fxLayoutGap="10px" class="quote-field">
          <mat-form-field fxFlex="72">
            <label>
              <input disabled matInput>
              {{ countryService.getDestination(c.payload.val().country_id).name }}
            </label>
          </mat-form-field>
          <span fxFlex fxLayout>
              <!-- edit button -->
              <button mat-icon-button (click)="openCountryDialog('edit', c)">
                <svg-icon src="../assets/icons/edit.svg"  [style.fill]=color></svg-icon>
              </button>

            <!-- delete button -->
              <button mat-icon-button (click)="removeCountry(c.key)">
                <svg-icon src="../assets/icons/trash.svg" [style.fill]=color></svg-icon>
              </button>
            </span>
        </div>
        <!--  add country phone number button -->
        <div fxLayout="row" xLayoutAlign="flex-start center" fxLayoutGap="10px" style="height: 40px; margin-top: 10px; margin-left:10px">
          <button
            fxFlex="60"
            mat-raised-button
            [ngClass]="data.getButtonStyle()"
            (click)="openCountryDialog('add', null)">Add Country
          </button>
        </div>
      </div>

    </div>

<!--   Images -->
    <div>
      <h2>Images</h2>
      <div fxLayout fxLayoutGap="10px">
        <!-- cover image -->
        <div fxFlex="30" fxLayoutGap="10px">
          <h3>Cover Image</h3>
          <mat-grid-list cols="1" rowHeight="1:2">
            <mat-grid-tile
              [style.background]='tileColor'
              (click)="openImageSelector(itinerary$.coverImageTile, -1)">
              <mat-grid-tile-header>
                <span class="fill-remaining-space"></span>
                <img src="../assets/icons/edit-white.svg"  alt="edit icon"/>
              </mat-grid-tile-header>
              <img *ngIf="itinerary$.coverImageTile" [src]="itinerary$.coverImageTile.imageUrl"  style="height:100%; border-radius: 5px; left:0; right: 0" alt="cover image"/>
              <svg-icon *ngIf="!itinerary$.coverImageTile" src="../assets/icons/add.svg" [style.fill]=color></svg-icon>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <span class="fill-remaining-space"></span>

        <!-- grid images -->
        <div fxFlex="60">
          <!-- image grid selector -->
          <h3>Grid Images</h3>
          <mat-grid-list cols="2" rowHeight="1.5:1">
            <mat-grid-tile
              *ngFor="let tile of this.gridImageTiles; let i=index"
              [style.background]='tileColor'
              (click)="openImageSelector(gridImageTiles[i], i)">
              <mat-grid-tile-header>
                <span class="fill-remaining-space"></span>
                <img src="../assets/icons/edit-white.svg" />
              </mat-grid-tile-header>
              <img *ngIf="tile.imageUrl" [src]="tile.imageUrl" height="100%" style="border-radius: 5px"/>
<!--              {{ tile | json }}-->
              <svg-icon *ngIf="!tile.imageUrl" src="../assets/icons/add.svg" [style.fill]=color></svg-icon>
            </mat-grid-tile>
          </mat-grid-list>

        </div>

      </div>
    </div>

  </mat-card>
</div>
