<!-- day  -->
<div  fxLayout="row" fxFlexAlign="space-between base-line" class="day">

  <!-- left column -->
  <span fxLayout="column" fxLayoutAlign="flex-flex-start center" fxFlex="18" fxLayoutGap="10px">
            <mat-chip-list>
              <!-- color hack: AM2 seems to be broken -->
              <mat-chip fxLayoutAlign="center center" [selected]="true" [style.background-color]=data.color class="chip">{{ day.title }}</mat-chip>
            </mat-chip-list>
            <span style="font-size:12px">{{ day.dates }}</span>
  </span>

  <!-- middle column -->
  <span fxFlex="80" fxFlexAlign="center flex-flex-start">
    {{getItineraryDescriptions(day)}}
  </span>

  <!-- right column -->
  <span fxLayout="row" fxLayoutAlign="space-between center" fxFlex fxLayout.xs="column" fxLayout.sm="column">
    <!-- edit button -->
    <button mat-icon-button (click)="openDayDialog(day)">
      <svg-icon src="../assets/icons/edit.svg" [style.fill]=data.color></svg-icon>
    </button>

    <!-- drag handle -->
    <button mat-icon-button style="cursor: move !important;">
      <svg-icon src="../assets/icons/move.svg" [style.fill]=data.color></svg-icon>
    </button>

    <!-- delete button -->
    <button mat-icon-button (click)="removeDay(day.key)">
      <svg-icon src="../assets/icons/trash.svg" [style.fill]=data.color></svg-icon>
    </button>
  </span>
</div>
